@font-face {
    font-family: 'Siemreap';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/siemreap/v13/Gg82N5oFbgLvHAfNl1YXlg4.woff2) format('woff2');
}