@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold !important;
}

.container-bg {
  height: 100vh;
  background-size: 100% 100%;
  background-position: center center;
  animation: shrink 5s infinite alternate;
  animation-iteration-count: 1
}

@keyframes shrink {
  0% {
    background-size: 120% 120%;
  }

  100% {
    background-size: 100% 100%;
  }
}

.container-body {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-circle {
  height: 80px;
  width: 80px;
  background-color: #ffffff;
  color: #000;
  text-align: center;
  padding: 15px;
  margin-bottom: 5px;
  border: 1px #8E8E8E solid;
}

.menu-circle.active {
  border: 4px #168CF9 solid;
}

.social-circle {
  height: 35px;
  width: 35px;
  border: 2px #8E8E8E solid;
  color: #8E8E8E;
  text-align: center;
  align-content: center;
}

.icon-label {
  margin-top: 5px;
  font-weight: bold;
  font-size: 12px;
}

.body-content {
  padding: 0 !important;
  background-color: #ffffff;
  height: 500px;
}